<div class="bootstrap-wrapper">
    <div class="container">

        <div class="row" style="margin-top: 20px;">

            <div class="col-md-6 offset-md-3">
              <mat-card>

                <div class="container text-center">

                    <img src="../../../assets/logo.png">

                </div>

                <h1 class="text-center">Register Here</h1>

                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input
                        required=""
                        name="username"
                        [(ngModel)]="user.username"
                        matInput placeholder="Enter here">
                        <mat-hint>User name must be unique!!</mat-hint>
                      </mat-form-field>


                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        required=""
                        name="password"
                        [(ngModel)]="user.password"
                        type="password" matInput placeholder="Enter here">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input
                        required=""
                        name="firstname"
                        [(ngModel)]="user.firstname"
                        matInput placeholder="Enter here">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input
                        required=""
                        name="lastname"
                        [(ngModel)]="user.lastname"
                        matInput placeholder="Enter here">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input 
                        required
                        name="email"
                        [(ngModel)]="user.email"
                        type="email" matInput placeholder="Enter here">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input 
                        required=""
                        name="phone"
                        [(ngModel)]="user.phone"
                        type="number" matInput placeholder="Enter here">
                      </mat-form-field>

                      <div class="container text-center">
                        <button  type="submit"mat-raised-button color="primary">Register</button>
                        <button class="ml20" mat-raised-button color="accent">Clear</button>
                      </div>


                </form>

              </mat-card>



            </div>


        </div>

    </div>

</div>